[2018-10-30 15:14] lgalke commented on #416
We are experiencing also performance problems at other points #414 . I'd guess this is related.

[2018-10-30 16:02] kleinann commented on #414
17:00, Browsing in Production:
An error occurred: Http failure response for https://locdb.bib.uni-mannheim.de/locdb/getInternalSuggestionsByQueryString?query=europe&k=20: 503 Service Unavailable

Should I pass the question with the memory problems on to our IT?

[2018-10-31 08:30] kleinann commented on #416
The stats page for production still doesn't load (never did, in fact). The one for the dev-version does, on the contrary.
We were planning to use the stats for production it in the workshop (hands-on-session data quality), so if you could do anything... would be really great.

[2018-10-31 09:00] kleinann opened #417 "Journal issue data not editable in production system"
In some records, journal issue data like volume, issue, and pages is shown in the short results list, but does not show up in the form when clicking the "edit" button. Example:
![grafik](https://user-images.githubusercontent.com/33151732/47776645-2a524b00-dcf3-11e8-9bca-086b54d3172d.png)

Quite frequently, page numbers are duplicated, and the second instance (probably connected to the journal issu

[2018-10-31 09:03] kleinann commented on #373
I'd also like to draw attention to the Number field of the screenshot that Laura posted. It contains volume, number, year and pages. Does it come from the source like that, unseparated? Could we parse it?

[2018-10-31 09:37] kleinann commented on #414
10:37h: 500 Internal Server Error while Browsing

[2018-10-31 10:11] kleinann commented on #414
11:10h: Still the same error

[2018-10-31 12:14] kleinann commented on #414
13:12 h, from a different computer: it works now.

[2018-10-31 12:15] anlausch commented on #414
We are now using a different session store and I contacted @stweil for help. Lets see whether this improves the situation.

[2018-10-31 12:16] lgalke commented on #417
Thanks for reporting. I will fix this tomorrow. My initial guess is that the Journal Volume Number field is filled with "15, pp.27-47" literally. On the other side the respective form field is of type number and can therefore not be properly filled with "15, pp.27-47. I'll change the Journal Volume Number field also to plain-text input.

[2018-10-31 12:16] lgalke commented on #416
@anlausch

[2018-10-31 12:17] anlausch commented on #414
@lgalke What you are assuming is in line with what I am currently thinking about the problem.

[2018-10-31 12:43] kleinann commented on #415
They're still there. Really strange.

[2018-10-31 12:58] kleinann commented on #387
It also happens for SWB. Example:
Searching for "Fromm 1981 seelischen grundlagen" or "Fromm 1981 haben sein" (and some more variations of the title) --> neither ppn 091005779 nor any of the other 48 editions of the book in the SWB database.

[2018-10-31 15:17] anlausch commented on #416
It actually works, but I assume your browser is cutting the connection at some point.
![image](https://user-images.githubusercontent.com/20592651/47798273-5c31d480-dd28-11e8-8ae4-bd5d80975ba0.png)

I will see whether I have enough time to compute it asynchronously.

[2018-10-31 15:47] anlausch commented on #416
Quickfix: Stats computation can now be triggered via /triggerStats. After a while the actual stats then can be accessed via /stats.

[2018-10-31 16:02] kleinann commented on #416
Yes, it works! Thanks a lot!

[2018-10-31 16:58] anlausch commented on #416
I also added the br identifiers as discussed (but these are not computed on the contributor and embodiment statistics due to my time constraints atm).

[2018-10-31 16:59] #416 closed

[2018-10-31 21:16] stweil commented on #414
IT reconfigured the server from 8 GiB RAM + 8 GiB swap = 16 GiB memory to 24 GiB RAM + 8 GiB swap = 32 GiB memory. I expect that this will improve responsiveness because of the larger disk cache, but not solve the problem.

[2018-11-02 10:45] kleinann opened #418 "Create childs for Journal Issue and Edited book"
Journal Issues and Edited books need a functionality to create a new child instead of a new container.
At the moment, only creating containers is possible:
![grafik](https://user-images.githubusercontent.com/33151732/47910982-b354b800-de94-11e8-82b2-b950550f2984.png)

![grafik](https://user-images.githubusercontent.com/33151732/47911017-c7001e80-de94-11e8-961e-a2c8b95f4210.png)

[2018-11-02 13:11] lgalke commented on #417
The volume number field is now of type string so it should display the information properly and make it editable.

[2018-11-02 13:14] lgalke commented on #411
I'm just guessing: maybe the comparison is case-sensitive.

![image](https://user-images.githubusercontent.com/3439126/47917384-a2fb0800-dea9-11e8-8e0e-034ec9e3d613.png)

[2018-11-02 13:46] lgalke commented on #418
Would you prefer to have the new button only visibles for certain types or always? In the former case, should it be enabled for all resources that can be a container?

[2018-11-02 14:16] #418 closed

[2018-11-02 14:59] zuphilip opened #421 "illBrFraction is always null"
Currently in the statistics the `illBrFraction` is always `null`. I guess that this line needs to be adapted: https://github.com/locdb/loc-db/blob/c058a42f9c7897adea3b8aa7ea1a40a159e958c2/api/helpers/statsHelper.js#L229 CC @anlausch

[2018-11-02 15:02] zuphilip opened #422 "Show stats only for VALID resources"
Currently, the stats are shown by considering all resources, but only the ones with status `VALID` are interesting for our final evaluation. We should exclude the resources of type `EXTERNAL` (or show them separately).

[2018-11-02 16:05] kleinann commented on #418
Exactly, it should be enabled for all resources that can be a container.

[2018-11-02 16:09] kleinann commented on #415
I removed them manually, so the issue can be closed.

[2018-11-02 16:09] #415 closed

[2018-11-02 18:42] zuphilip opened #423 "Adapt statstics for journal_issue"
The `JOURNAL_ISSUE` has never any contributors, so we should not list `missingContributors` for that type. CC @anlausch @kleinann

[2018-11-03 14:26] zuphilip opened #424 "Analyze partOf relations in stats"
The `partOf` relation can occur between some publication types, but might also indicate problems with our data e.g. book is part of another book. Can we analyze the part of relations also in the statistics? I would imagine as a result something like:
[code]

[2018-11-04 20:19] zuphilip commented on #423
Or should the publisher be saved for each journal issue instead of saving the publisher for the journal article?

[2018-11-04 21:39] zuphilip opened #425 "Fix trailing spaces in fields"
There are more than 400 spaces at the beginning of fields. I just search for `: " ` in the json dump. E.g.
[code]
I guess we can delete all of them. Agree?

[2018-11-04 22:03] zuphilip commented on #425
Also at the end of some values there a spaces...

[2018-11-05 07:20] LauraErhard commented on #414
I just had the 503 service unavailable error again (I uploaded a chapter to the demo version). It immediately worked after that, but there seems to still be an issue.

[2018-11-05 08:36] kleinann commented on #423
Yes, I think the publisher belongs to the journal issue, in principle (and publishing year, too). But it's true that in our current conversion of the Crossref data, both are only saved in the journal article data. I'm not so sure if they should be saved only in the issue instead of the article. For the year, I'd rather have it in both (they could be different, in theory), but the publisher really

[2018-11-05 11:32] stweil commented on #414
Extract from `/var/log/apache2/access.log`:

    134.155.36.83 - - [05/Nov/2018:08:12:18 +0100] "POST /demo/saveResource HTTP/1.1" 503 762 "https://locdb.bib.uni-mannheim.de/demo-frontend/ingest" "Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:63.0) Gecko/20100101 Firefox/63.0"

Extract from `/var/log/apache2/error.log`:

    [Mon Nov 05 08:12:18.242821 2018] [proxy:error] [pid 21313] (111)Connection

[2018-11-05 11:35] stweil commented on #414
Older error log files also contain lots of refused connections for the ports 3000, 3101 and 3102.

[2018-11-05 11:55] stweil commented on #414
I also see burst of refused connections. In the following log extract the `ScanInspector` tries many connections in a very short time:

    [Sun Nov 04 13:55:18.013835 2018] [proxy:error] [pid 9900] [client 84.166.147.8:60170] AH00898: Error reading from remote server returned by /locdb-dev/getInternalSuggestionsByQueryString, referer: https://locdb.bib.uni-mannheim.de/extrapolate-dev/linking/Scan

[2018-11-05 13:13] LauraErhard opened #426 "Error 100 Internal Server Error (prod)"
I wanted to save new coordinates and got the 500 Internal Server Error.
![500 internal error](https://user-images.githubusercontent.com/32642653/48000051-b35aef00-e104-11e8-95e4-526d177534ca.png)

[2018-11-05 13:14] LauraErhard commented on #426
Http failure response for https://locdb.bib.uni-mannheim.de/locdb/correctReferencePosition?scanId=5bbdfb48fb6737739386065c&coordinates=228%20660%201540%20755:

[2018-11-05 13:42] #417 closed

[2018-11-05 13:50] kleinann opened #427 "Status changes back to "ToDo" in production"
Several resources that were completely processed and had the status valid have changed back to "todo". I found them in "Browse", but they're not in the Agenda.
Example:
![grafik](https://user-images.githubusercontent.com/33151732/48001858-17cc7d00-e10a-11e8-83b2-d27d64fb1e62.png)

[2018-11-05 13:53] kleinann commented on #427
Correction: They *are* in the Agenda. But I'm 100% sure that Jaffrelot was valid before.

[2018-11-05 14:16] kleinann commented on #427
I think I know what it is now. If I don't use the new, yellow "migrate and link"-button, but create a new resource or migrate with the old "migrate" und "link" button inside the edit-form, the status stays "todo" and the resources appear in the Agenda.

[2018-11-05 14:33] lgalke commented on #427
Thanks for finding this. The manually created resources also receive now the status valid. Before, there was no status manually assigned.

[2018-11-05 14:36] lgalke commented on #425
We can manually trim all strings in forms when editing. However, for the initial extraction of structured data, Anne needs to conduct the trimming. There is not always editing involved.

[2018-11-05 14:39] lgalke commented on #414
The front-end triggers as few requests as possible. For instance, when saving bounding boxes, we check whether the coordinates have actually changed and only issue save requests for these ones

[2018-11-05 15:48] kleinann commented on #426
Yes, the same here. It's not possible to save new bounding boxes.
[Display][error] Error while uploading new coordinates: Http failure response for https://locdb.bib.uni-mannheim.de/locdb/correctReferencePosition?scanId=5bbdfb48fb6737739386065d&coordinates=239%202113%201570%202248: 500 Internal Server Error

[2018-11-05 15:59] zuphilip commented on #425
I would suggest to trim just before saving the data. Spaces which then can appear on initial import or are edited can be handled together.

[2018-11-05 16:38] stweil commented on #414
Even our oldest server log files already show the error pattern, so it started before Friday 2018-10-27:

    /var/log/apache2/error.log.14.gz:[Mon Oct 22 09:30:54.488914 2018] [proxy:error] [pid 1361] (111)Connection refused: AH00957: HTTP: attempt to connect to 127.0.0.1:3101 (localhost) failed

    134.2.65.114 - - [22/Oct/2018:15:42:45 +0200] "POST /locdb-dev/bibliographicResources HTTP/1.1" 5

[2018-11-09 14:53] LauraErhard opened #428 "Fix-It Button necessary"
I linked a few references in the production and noticed that if I migrate the article (=child) and then the issue (=parent), I need to click on fix-it or else the parent is not saved.
Additionally if I migrate the child and then click the yellow button to migrate the parent and link the resource the parent is not saved as well.
 I thought we fixed this with #354 but maybe I didn't test it enough a

[2018-11-12 15:14] LauraErhard commented on #414
Is there any news on this?

[2018-11-12 15:14] LauraErhard commented on #426
I just wanted to note, that in the demo version the saving of new coordinates works. So maybe the issue is only in the production system?!

[2018-11-12 15:34] LauraErhard opened #429 "Strange scans behaviour"
We uploaded a few scans (into prod) last week and noticed a few things.
1. Scans appear in the `ready` part even if the scans aren't fully processed yet and are still in the `queue` as well. We noticed this because in the `ready` part, we had one page too much, but then noticed, that the first page was the original scan and the next two pages were the split pages. Only after the scans disappeared

[2018-11-12 17:08] kleinann commented on #387
May I suggest that we try out exact word matching instead of fuzzy search for a change? OCR is often pretty good now, but it's nearly impossible to find a resource with general words in the title.

[2018-11-12 17:23] kleinann opened #430 "Conversion of books in a book set from SWB"
Book that are part of book sets are not correctly converted when they come from SWB.

Example:

PPN: | 006370462
Gesamttitel: | Gesammelte Werke / Robert Musil. Hrsg. von Adolf Frisé
Teil: | 8. Essays und Reden
Erschienen: | Reinbek bei Hamburg : Rowohlt, 1978
Umfang: | S. 977 - 1437
ISBN: | 3-499-30008-7

Our conversion:
![grafik](https://user-images.githubusercontent.com/33151732/48363448-3ef4f2

[2018-11-12 18:14] kleinann opened #431 "Conversion of journal articles from Crossref"
When migrating journal articles from Crossref, the year is empty in the journal issue at the moment (although t's defined as obligatory). Could we copy the year to the journal issue automatically while the resource is saved?

[2018-11-14 17:56] kleinann commented on #426
I still get the error when trying to save bounding boxes in production:
[Display][error] Error while uploading new coordinates: Http failure response for https://locdb.bib.uni-mannheim.de/locdb/correctReferencePosition?scanId=5bbdfb48fb6737739386065d&coordinates=238%202109%201573%202253: 500 Internal Server Error

[2018-11-20 08:40] anlausch commented on #426
In the cases you are presenting an error is returned from the reference extraction component. I tried it for other cases and it worked. Remember that the scan has to be processed by the reference extraction component first and has to be in its internal db. If the reference extraction component is set back in the meantime or when the scan was not processed yet, we cannot add any boxes.

[2018-11-20 08:52] anlausch commented on #431
https://github.com/locdb/loc-db/commit/1bed5fc259abbe50e612744e8fe316b18669719f

[2018-11-20 08:52] #431 closed

[2018-11-20 09:44] anlausch commented on #430
https://github.com/locdb/loc-db/commit/892d5fb02c592c8c07bfffd8866f4f4be33aace2

[2018-11-20 09:44] #430 closed

[2018-11-20 09:48] anlausch commented on #427
cannot reproduce anymore

[2018-11-20 09:48] #427 closed

[2018-11-20 10:04] anlausch commented on #425
https://github.com/locdb/loc-db/commit/beb0f44b92ba90c5af5f4295918e3be5e0f496dd

[2018-11-20 10:04] #425 closed

[2018-11-20 10:07] anlausch commented on #414
I am currently working on reproducing the issues locally. No success on this so far.

[2018-11-20 10:39] kleinann commented on #426
In all the cases that I tried, I worked in the Scan Inspector with a scan that had already some bounding boxes, so I guess that it must have been processed by the reference extraction component. I just tried again: first the boxes weren't saved, then the error happened againg. The scan looks like this:
![grafik](https://user-images.githubusercontent.com/33151732/48768213-e088cf00-ecb8-11e8-8d35-7c

[2018-11-20 12:46] lgalke commented on #428
Does it work when the suggestion is taken as is, or not even in this case?

With all the modifications for creating new parents, new childs, and son it was difficult to always enable the short-cut link-to-this because in many cases we need some input from the user before we can successfully push the changes to the back-end. That's why right now the user has to press "Fix it".

Guess, it would make

[2018-11-20 13:01] lgalke commented on #428
7879aa1, deployed on dev. Could you test it please @LauraErhard

[2018-11-20 13:37] lgalke opened #432 "Make source filter permanent"
## Expected Behavior

The source filter should remain the same, at least in one instance of the suggestion component (for one resource).

## Current Behavior

The source filter is reset as soon as a new entry is selected.

## Possible Solution

Store the selected **source** filter and do not change it when a new entry is selected.

[2018-11-20 14:00] lgalke opened #433 "Date Format"
Drop date picker for the date field. Allow storing only year or year+month or year+month+day in some ISO-like format. Let's discuss here how to implement it.

@anlausch which datatype will you use in the backend? The problem with Date format that it will get's filled with -01-01 by default.

[2018-11-20 14:08] LauraErhard commented on #426
I just uploaded three new chapters (to prod) to test this again. Now I can't adjust the boxes at all. The curser doesn't even change to the two arrows. On top of that I can't move the boxes around. Deleting boxes seems to work.

[2018-11-20 14:08] lgalke commented on #432
d4528a8, deploying on dev.

[2018-11-20 14:12] LauraErhard commented on #426
Strangely now it works, at least for a few examples. But now I got the 503 error again.

[2018-11-20 14:18] LauraErhard commented on #426
Okay, after correcting a few boxes with no problem, I got the 500 error again and can't save new coordinates:
![500 coordinates](https://user-images.githubusercontent.com/32642653/48779211-6156c380-ecd7-11e8-9c84-caedcc14c8c6.png)

[2018-11-20 14:47] LauraErhard commented on #414
If it helps, during the webmeeting I got several 502 and 503 errors.

[2018-11-20 14:49] lgalke commented on #432
We had some issues, now they should be fixed: 8e2a463

[2018-11-20 14:57] LauraErhard commented on #428
If I change nothing and use the `Migrate 2 resources and link` directly it is saved correctly.
If I `migrate` the child because of changes and the parent is correct, so I don't have to save any changes and then click the `Migrate 1 resources and link` the parent is not saved.
If I `migrate` the child, then the parent **without** clicking `fix it` and then `link,` the parent is not saved.

[2018-11-20 15:19] anlausch commented on #414
I prepared a modified version of our development server now, which should help to pinpoint the issue. But, I will try to make this instance fail often, so don't be confused.

[2018-11-21 17:11] kleinann opened #434 "Make ISBNs searchable (can't find resource in GVI)"
I tried to find the following resource, which is available in GVI:

Social psychology
Michener, H. Andrew
DeLamater, John D.
XXII, 631 S Ill., graph. Darst 24 cm
9780155041288
Fort Worth [u.a.] : Harcourt Brace College Publishers 1999
4. ed

I tried several searches for external resources (Titel, Author and Titel, Titel and Publisher, ISBN), the right suggestion never turned up. When searching for

[2018-11-29 09:18] lgalke commented on #428
What happens on 'Link' or 'Migrate and Link':

1. If a container is given, migrate it *if external*
2. Migrate the child resource *if external*
3. Connect the child resource and the parent resource (via `partOf`)
4. If the reference entry already has another target, unlink it
5. Link the reference entry to the target (child) resource

What happens on 'Fix it'.
1. Sets the `partOf` property of the

[2018-11-29 13:42] LauraErhard commented on #428
Oh sorry, I totally forgot, I was in the prod. In dev this works.

But the case:

doesn't work. According to your explaination this would happen in part 3 (Connect the child resource and the parent resource (via partOf)), right? This part seems to still have a bug. In this case, we have to migrate child, migrate parent, press fix it and then link.

[2018-11-29 14:55] lgalke commented on #428
Please test again. For me it worked:

![image](https://user-images.githubusercontent.com/3439126/49230047-10d61900-f3ef-11e8-8c98-e7419a3038cf.png)

I changed the title of the child (added `FANCY CHANGE`), migrated it, did not touch the container, and clicked the `Migrate 1 and submit` short-hand button.

[2018-11-29 15:06] LauraErhard commented on #428
I just tested this.

I changed the subtitle & `migrated `child and then `Migrate 1 and link`. At first it looks good:
![2](https://user-images.githubusercontent.com/32642653/49230563-4596a000-f3f0-11e8-9220-8fa4418c4230.png)
But if I click to a different box and then back to it, I don't see the parent anymore:
![3](https://user-images.githubusercontent.com/32642653/49230564-47606380-f3f0-11e8-9ff9

[2018-11-29 15:11] lgalke commented on #428
This is strange, we *do* retrieve both the child and if it has `partOf` also the parent, when a new entry is selected.

[2018-11-29 15:33] lgalke commented on #428
Fixed it now in f3ea95d . The problem was that if the thingy had an `_id` already, also the `partOf` changes were not pushed to the back-end (unless `Fix it` was pressed). Now, to have a more consistent behaviour of the 'Migrate x and Link' button, we do update the `partOf` property. Feel free to test again on dev, and let me know when I can push to prod.

[2018-11-30 13:06] LauraErhard commented on #428
I think I just went through every possible scenario and everything worked nicely.
As far as I'm concerned you can push the changes to production.
Thanks!

[2018-11-30 23:08] #428 closed

[2018-12-03 12:58] LauraErhard commented on #414
At the moment I have major issues. Everything I try to do gets the 503 error. Would you please check this out @lgalke @anlausch?!

[2018-12-03 13:05] stweil commented on #414
It looks like the backend is down.

[2018-12-03 13:11] anlausch commented on #414
There are literally no applications running anymore. I can restart them, but it is strange that they even do not appear anymore in the deployment manager. This was never the case so far. Any idea what happened?

[2018-12-03 13:16] anlausch commented on #414
Mongo is also not running anymore

[2018-12-03 13:19] anlausch commented on #414
@stweil Maybe it is best to restart the whole server from scratch?

[2018-12-03 15:09] stweil commented on #414
I restarted mongodb now.

It had failed on Saturday because of the disk full condition:

    root@locdb:~# systemctl status mongodb
    ? mongodb.service - An object/document-oriented database
       Loaded: loaded (/lib/systemd/system/mongodb.service; enabled; vendor preset: enabled)
       Active: failed (Result: signal) since Sat 2018-12-01 00:23:48 CET; 2 days ago
         Docs: man:mongod(1)

[2018-12-03 15:29] anlausch commented on #414
All apps should be online again.

[2018-12-04 09:41] LauraErhard commented on #414
I just checked real quick and either the system is down again or still. I didn't get a chance to check yesterday so I can't say for sure.

[2018-12-04 11:36] stweil commented on #414
The disk is full again, so mongodb terminated... :-(

[2018-12-04 11:58] stweil commented on #414
I'm now moving the log file to another server and will restart mongodb then.

[2018-12-04 12:17] stweil commented on #414
After removing the three largest log files there are now 37 GB available again. Apache2 and mongodb are up. @anlausch, please restart your services and test.

[2018-12-04 16:55] anlausch commented on #414
I've now updated the logging mechanism as well as the log level. This should do the job. If not, we can make further adaptions related to writing on disk. Also, I am still working on the memory leak, which seems to be related to a module we are using for parsing marc. But this needs to be further investigated.

[2018-12-05 18:52] kleinann opened #436 "Scan Inspector on 13" laptop screen"
If the issue is complex, please try to divide it into smaller units and create one issue for each unit.

Your issue may already be reported!
Please search on the [issue track](../) before creating one.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Browser Name and version:
* Operat

[2018-12-06 12:38] LauraErhard commented on #436
Earlier I tried this on a 13'' Laptop and I didn't have any issues. But I see that you used the Edge browser, maybe the issue is with the browser and not the size of your screen?!

[2018-12-06 12:46] LauraErhard opened #437 "Scan pages in wrong order"
We uploaded two pdfs with 18 and 48 pages and we now noticed, that in the scan view the order of the pages is not the same as in the pdfs we uploaded. E.g. on page 3 we start with letter M even if page 2 was only B and the whole section between B and M is on later pages. Are the scans not sorted or identified in the right order? This is problematic because we sometimes have references which start

[2018-12-06 12:54] kleinann commented on #436
Yes, that's possible. I wasn't aware that we don't support Edge. Well, it's probably not that much in use in libraries anyway. We'll just have to document it then.

[2018-12-06 13:47] LauraErhard commented on #437
I never noticed this before today, but now that I did, I checked back on the different uploads in the dev system and I noticed it there too. For example:
White, Gregory Whayne: Climate change and migration : security and borders in a warming world = ID: 5bc74d8f4fb7d00dfeff7fa2
Kidd, Dustin: Social media freaks : digital identity in the network society = ID: 5bf429fc4b39d61a6e964ea7
I can't rememb

[2018-12-06 13:52] stweil commented on #414
@anlausch, your modifications seem to work:
Now the largest log file has 0.3 GB while there are still 35 GB free disk space available.

[2018-12-07 12:29] LauraErhard opened #438 "Internal search"
My current reference is a book chapter. The chapter and the edited book are both in the SWB. Therefore I just searched for the edited book and migrated it. Then I searched for the chapter and migrated that too, then I wanted to use the `link to existing container` to bring them together. But I can't find the edited book again. I tried everything but it doesn't show up. The `link to existing contai

[2018-12-10 09:16] kleinann opened #439 "Not possible to save subtitle of journal issue"
Trying to save the subtitel of the following bibliographic resource, it always vanishes:
Abelshauser, Werner: Die Wirtschaft des deutschen Kaiserreichs ein Treibhaus nachindustrieller Institutionen in: JOURNAL_ISSUE Windolf, Paul (ed.), Finanzmarkt-Kapitalismus, Kölner Zeitschrift für Soziologie und Sozialpsychologie Sonderhefte, Vol. 45, VS, Verl. für Sozialwiss., pp. 172-195.

[2018-12-11 15:18] kleinann opened #440 "External search fails"
When triggering a new search for external suggestions, it takes very long and fails in the end with the following error message:
Object { headers: {…}, status: 502, statusText: "Proxy Error", url: "https://locdb.bib.uni-mannheim.de/locdb/getExternalSuggestionsByQueryString?query=WIRES%20%20Climate%20Change%202010&k=20", ok: false, name: "HttpErrorResponse", message: "Http failure response for http

[2018-12-11 15:30] kleinann opened #441 "Cannot link external suggestion"
After clicking on "migrate and link", the button turns half-transparent and linking is not possible. After migrating Journal Article and Journal issue, it can't be found in the database.

{"msg":"REFERENCE TARGET SELECTED","title":"A recent greening of the Sahel—trends, patterns and potential causes","entry_id":"5bf6b908c707541a929bd578","current_selected_ids":[{"scheme":"DOI","literalValue":"10.1

[2018-12-11 15:32] anlausch commented on #414
I just deployed an attempt to fix the leak to dev. Please test extensively.

[2018-12-12 12:54] kleinann commented on #414
Den kannte ich noch nicht:
Error while updating container: Http failure response for https://locdb.bib.uni-mannheim.de/locdb-dev/bibliographicResources: 400 Bad Request
Aus dem Log:
Object { msg: "REFERENCE TARGET SELECTED", title: "Can't see the forest for the trees?", entry_id: "5bc7238f4fb7d00dfefd9fcc", current_selected_ids: (2) […] }
logging.service.ts:140:4
Object { msg: "COMMIT PRESSED", en

[2018-12-12 12:57] kleinann commented on #414
Kam gleich nochmal vor, beide Male war der Typ der Ressource Proceedings Article.

Object { msg: "REFERENCE TARGET SELECTED", title: "An architecture for the aggregation and analysis of scholarly usage data", entry_id: "5bc7238f4fb7d00dfefd9fcf", current_selected_ids: (2) […] }
logging.service.ts:140:4
Object { msg: "COMMIT PRESSED", entry_id: "5bc7238f4fb7d00dfefd9fcf", target: undefined, from_wh

[2018-12-12 15:58] LauraErhard commented on #438
Can you make the internal ID searchable as well? We noticed that a few articles from the same issue aren't linked to the same parent and it would be the easiest way to switch them to the same container via internal ID.
If it's not that time-consuming it would be nice to just be able to search with all identifiers we have at our disposal.

[2018-12-12 16:12] LauraErhard opened #442 "Cannot "add entry" to reference list"
I just tried to add another entry to a reference list and I see this after clicking `add entry`:
![addentry](https://user-images.githubusercontent.com/32642653/49882256-8222bc80-fe30-11e8-8d7d-ab33aef0617e.png)
This can't be right. I would expect that I only get the second form.

I don't know if the 400 error that follows my `submit` is a consequential error of the first problem but here is the er

[2018-12-13 15:43] stweil commented on #414
Then I suggest to move @kleinann's report to a new issue.

[2018-12-18 14:05] LauraErhard commented on #414
Right now I have this error again:
`Could not save changes: Http failure response for https://locdb.bib.uni-mannheim.de/locdb/bibliographicResources: 502 Proxy Error`

[2018-12-18 14:18] stweil commented on #414
Here is the corresponding error message on the server:

    [Tue Dec 18 15:01:59.375919 2018] [proxy_http:error] [pid 24069] (20014)Internal error (specific information not available): [client 134.155.nn.nn:58911] AH01102: error reading status line from remote server localhost:3100, referer: https://locdb.bib.uni-mannheim.de/extrapolate/linking/ScanInspector/5bc090397894db015d7960b2/5bfeb2cf4ea88c

[2018-12-27 16:31] chah3d commented on #442
The double form is fixed for the next version.
The creation of a new entry on the post bibliographicEntry interface still raises a validation error.
![selection_029](https://user-images.githubusercontent.com/32481062/50486550-d5813700-09fa-11e9-8c7b-0fe0091a1ba5.png)
(Resource id/Query string: 5bc6f1700e466f16dff1c0b7)
It seems like the validation of the Entry ID (according to the pattern) fails b

[2019-01-10 08:50] LauraErhard commented on #442
Should I see any changes yet in any of our systems? The only thing I see is in the dev version I still get the double form and strange additional text at the beginning of the page:
![unbenannt](https://user-images.githubusercontent.com/32642653/50956866-17ab7d80-14bd-11e9-952f-5505634a9da6.png)

[2019-01-10 09:54] lgalke commented on #442
@chah3d does it make sense to deploy a new version on dev | on prod? @abdelqader-mohammad I could do it you want me to.

[2019-01-10 11:11] lgalke commented on #442
I pushed a fix and deployed it on dev and prod. @abdelqader-mohammad the debug information was only shown at dev endpoint. I also now disabled it, there.

[2019-01-10 11:13] lgalke commented on #442
2416ed4d2fdbba0443fa44bc405fcddcda68c6b0

[2019-01-10 11:32] LauraErhard commented on #442
Thanks for your quick work, everything looks good now.

But I can't `submit` the new entry, I always get the following error:

Error creating entry
Object { headers: {…}, status: 400, statusText: "Bad Request", url: "https://locdb.bib.uni-mannheim.de/locdb/bibliographicEntries?bibliographicResourceId=5a548f95fcaa4703f0194ec1", ok: false, name: "HttpErrorResponse", message: "Http failure response f

[2019-01-10 11:53] lgalke commented on #442
We call the [entry.create](https://locdb.bib.uni-mannheim.de/locdb-dev/docs/#/BibliographicEntry/create) service from the backend. Inspecting the error message, it is caused by a spurious validation check that enforces the 'references' field to be filled with some id.

See the screenshot:
![image](https://user-images.githubusercontent.com/3439126/50966878-ac6ea500-14d6-11e9-8d24-5298e5d28cbf.png)

[2019-01-15 12:02] lgalke commented on #441
The problem is that the resource already exists and the back-end rejects creating the resource. @anlausch How do we deal with this? You could return the `_id` of the existing resource, or do this resolution step already before providing the suggestions.

[2019-01-31 12:59] chah3d opened #443 "Resource request loop"
![selection_035](https://user-images.githubusercontent.com/32481062/52055129-d0198e00-255e-11e9-891a-7c650dd143e3.png)

There is an empty resource remainder in the development environment, if this resource is edited, the request is successful for this resource, but somehow the resource service triggers a reload loop that even continues on other pages. Regardless of the fact that such empty resourc

[2019-02-07 15:37] chah3d commented on #443
![selection_036](https://user-images.githubusercontent.com/32481062/52422316-1c804300-2af6-11e9-85d2-863c35a9c9ea.png)
Since 5d6303aa811709bad27a28537a69e56dccf15f5a the retry for bibliographicResources works as intended.

[2019-02-07 15:37] #443 closed

[2019-02-12 13:03] LauraErhard opened #444 "Entries in electronic resources (prod)"
Today I noticed, that there are a lot of new entries in the `electronic resource` list, e.g.:
![2019-02-12](https://user-images.githubusercontent.com/32642653/52636239-51acdc80-2ecc-11e9-9e2a-29de7d02dd88.png)
Is there a problem with the `external` / `valid` settings again?
I don't know if there is any correlation but yesterday we set a few journal articles to `Done`, but I think some of these ent

[2019-02-12 18:52] lgalke commented on #444
Deployed including the fix 892c33e on **dev**. As there were other recent updates, please make sure that dev is running properly before we push the changes to production.

[2019-02-14 13:35] LauraErhard commented on #444
I'm testing everything on dev right now. While editing the boxes in the scan view I can't delete more than one box at a time. If I do, I get a  500 internal server error. Adding and adjusting more than one box is very smooth and I didn't run into problems there.

[2019-02-14 13:37] lgalke commented on #444
Thanks @LauraErhard , CC @chah3d could you have a look regarding the deletion please?

[2019-02-14 14:38] chah3d commented on #444
As far as i could test it, processing the delete requests asynchronously does the trick (accf57122f81df6959726b6462517a5a1eb91b2c). If they still fail there will be a few retries.

[2019-02-14 14:43] LauraErhard commented on #444
Thanks for your quick work!

[2019-02-14 14:53] abdelqader-mohammad commented on #444
Thank you for your quick response and help, @lgalke and @chah3d.
@LauraErhard can you test the system? Let us know if you have new issues

[2019-02-14 15:13] LauraErhard commented on #444
I just tested the deleting again.
If I delete two boxes and click `save and exit` I get the error 500 for the second box again, but after clicking okay it looks like it was deleted anyway. But after refreshing the page I see the box again.
Similarly if I delete two boxes and click `save` I get the error again and it looks like both boxes were deleted, but if I go back with `cancel` only one box go

[2019-02-14 15:21] LauraErhard commented on #444
@abdelqader-mohammad the scan view was the major change in the dev system right?
I linked a few different references and everything seems in order. The issues #437, #442, #439 are still there, but I think there was nothing done on them, so logically they still exist.
Are there any other particular changes I forgot about?

[2019-02-14 15:40] abdelqader-mohammad commented on #444
@LauraErhard For issue #442, we fixed the problem of duplicated forms. The error that still exists needs action from the backend.
For #437 and #439 I want to check them. Maybe @chah3d or @lgalke have a fast comment for those issues.

[2019-02-14 16:19] abdelqader-mohammad commented on #439
@chah3d  can you check it? The subtitle vanished after clicking submit; it happens for the JOURNAL_ISSUE only. For the other resources, it works well.

[2019-02-14 17:31] abdelqader-mohammad commented on #437
I tested the system by uploading a 60 pages pdf file. The pages are numbered from 1 to 60
They reordered after the uploading as follow:
1, 2, 11, 12, 13, ..., 20, 3, 21, 22, 23, ...., 30, 4, 31, 32,... and so on.
@chah3d is the numbering system made this? for example, if the page numbers have the same number of digits (01 rather than 1), can this solve the problem?

[2019-02-14 22:49] lgalke commented on #444
We need to make sure that we update the view only if the back-end call succeeded. Maybe this is not properly reflected in this case.

[2019-02-14 22:55] lgalke commented on #437
The splitting of pages happens on the DFKI side. We do not re-order them in any way and I assume @anlausch also just passes them through aswell. @rtahseen can you tell whether in-order processing is guaranteed for splitted multi-page scans? Unfortunately, there would not be a way to do so, since we only have the first_page and last_page of the whole embodiment. And one embodiment can span over mul

[2019-02-14 22:58] lgalke commented on #439
Some time ago (~ before our 2nd workshop) I noted that the subtitle field was simply missing in our data model for some data type. I do not remember exactly which datatype it was though. I told Anne and she fixed it quickly.

 So either (a) these back-end changes did not make it into production yet or (b) it is the same problem but for a different data type.

[2019-02-15 07:42] abdelqader-mohammad commented on #444
@lgalke Thank you for your comments :)
So, the mentioned issues need action from the other partners.

[2019-02-18 07:41] rtahseen commented on #437
I have just added the code to explicitly sort the results. @LauraErhard Can you please try again now?

[2019-02-18 13:04] LauraErhard commented on #437
I uploaded a new pdf with 40 pages and the pages 13 (should be page 3), 24 (should be page 4), 35, 36, 37, 38, 39, 40 (should be page 5-11) were wrong.

[2019-02-19 10:12] rtahseen commented on #437
@LauraErhard Please try again now

[2019-02-19 12:54] LauraErhard commented on #437
I can't open the dev system right now:
![fehler-dev](https://user-images.githubusercontent.com/32642653/53016422-e9bb4080-344d-11e9-9641-bf13bf5c2b7d.png)

[2019-02-19 13:11] abdelqader-mohammad commented on #437
@LauraErhard We are working on that right now. We will inform you when it is ready

[2019-02-19 13:56] abdelqader-mohammad commented on #437
@LauraErhard can you check now?

[2019-02-19 15:31] chah3d commented on #444
The changes regarding the bounding box editing are now on the dev.

[2019-02-19 15:35] abdelqader-mohammad commented on #444
I tried to delete 3 boxes. It works well.
@LauraErhard please test it

[2019-02-19 15:49] LauraErhard commented on #444
I can confirm, the deleting runs smoothly now. Thanks everyone!

[2019-02-20 12:47] LauraErhard commented on #437
The scan I uploaded is now finished processing. Sadly I have to tell you that the order is still wrong.
I don't know how you count in the backend so here the two possibilities:
Page order: 231, 232, 241 - 250, 233, 251 - 254, 234 - 240
Number order: 1, 2, 11-20, 3, 21-24, 4-10

A few days ago @abdelqader-mohammad mentioned the same pattern:

They reordered after the uploading as follow:
1, 2, 11,

[2019-02-21 13:37] rtahseen commented on #437
@LauraErhard when did you uploaded this file for processing?
In the logs I can see only 2 files processed yesterday. One of them with 34 pages I tested yesterday and the other one has only 4 pages.

[2019-02-21 13:41] LauraErhard commented on #437
I uploaded "Haunberger, Sigrid: Teilnahmeverweigerung in Panelstudien /, VS-Verl.," (5c6c26a8d0704e026a6c1690) with 24 pages 2 days ago, but I only saw the processed scans yesterday. I will upload another pdf right now.

[2019-02-21 14:18] LauraErhard commented on #437
I just uploaded:  Hardering, Friedericke: Unsicherheiten in Arbeit und Biographie : zur Ökonomisierung der Lebensführung /, VS Verlag für Sozialwissenschaften (ID: 5c6eab3dee21453a61bd6140)
And the pages are still wrong. I assume it is the same pattern as before.

[2019-02-21 14:21] LauraErhard commented on #437
While uploading a different pdf I got an error:
![201-02-21](https://user-images.githubusercontent.com/32642653/53175317-fd9ca900-35eb-11e9-9793-57dfe452eebb.png)
Any idea, why the pdf above was no problem, but this one is?

[2019-02-21 14:38] abdelqader-mohammad commented on #437
@LauraErhard I am not sure about this error. It says "error 502". Close the webpage and try again to upload the file, maybe this will fix the problem. I am not sure

[2019-02-21 15:21] rtahseen commented on #437
@LauraErhard This is very strange, it looks like that changes I made in the code are not propagated in the service. I have restarted the service. Please try again.

[2019-02-22 07:46] LauraErhard commented on #437
@abdelqader-mohammad yesterday I tried firefox and chrome and now I am sitting on a different pc and it still doesn't work. I just tried to upload it to the demo system but there I get the same error. But just this one scan. I uploaded another pdf and this worked fine.

[2019-02-22 08:33] LauraErhard commented on #437
@rtahseen I just uploaded a new scan and it's still the wrong order.

[2019-02-22 15:41] rtahseen commented on #437
After careful and detailed debugging, sorting check has been added to every possible use case. @LauraErhard Please try one last time. If it still does not work then I assure you that the problem is somewhere else :)

[2019-02-22 16:52] LauraErhard commented on #437
I have bad news, the scans are still in the wrong order.
If the problem is not with you, can you take a guess where the problem could be? Backend? Frontend? Any ideas?!

[2019-02-25 10:56] rtahseen commented on #437
@LauraErhard I have tested all interfaces of my web service and verified that results are sorted correctly in every case. I am not sure where exactly is cause of problem. From @lgalke comment above, I can only guess that we there could be something happening in the backend. It will be great if someone from backend can let me know the exact order in which they are calling different functions of Aut

[2019-03-07 15:28] rtahseen commented on #407
I just verified again that upon submitting HTML file from front-end we get the "502: Proxy Error" from back-end at "https://locdb.bib.uni-mannheim.de/locdb-dev/saveResource". In this whole process Automatic-reference-Extraction system did not received any HTML file for processing which means that the problem lies somewhere in the back-end.

[2019-04-03 14:22] LauraErhard opened #445 "SWB -> K10plus"
The SWB is now integrated in the K10plus and the SWB database will not be updated anymore. The SWB PPN is still in the metadata but is not the primary ID anymore:
![2019-04-03_ingest_ids](https://user-images.githubusercontent.com/32642653/55480155-ec4db000-561f-11e9-8e38-15cc49777a3e.png)

Ingest part:
Uploading with the SWB-PPN is not possible at the moment:
![2019-04-03_Ingest](https://user-imag

[2019-04-03 14:29] LauraErhard opened #446 "OCR seems to have issues with cursiv"
I noticed that the OCR is very bad with cursiv letters e.g.:

![2019-04-03_ocr_scan](https://user-images.githubusercontent.com/32642653/55486921-73555500-562d-11e9-938c-42de46a70864.png)

![2019-04-03_ocr_refList](https://user-images.githubusercontent.com/32642653/55486848-4c971e80-562d-11e9-88aa-74bc29979c69.png)

[2019-04-03 14:35] LauraErhard opened #447 "Boxes overlap each other even after correction"
We noticed that for reference lists where the space between references is very narrow, some boxes can't get "fixed". This results to this:
![2019-04-03_box_problem](https://user-images.githubusercontent.com/32642653/55487437-5f5e2300-562e-11e9-824f-118f5a3639b4.png)

[2019-04-03 14:49] LauraErhard opened #448 "Update Tuebinger frontend"
The Tuebinger frontend needs to be updated.

[2019-04-04 07:15] abdelqader-mohammad commented on #446
The Frontend does not influence the OCR process and only gets the results from the backend. @rtahseen can we do anything on this? can the increase in the quality of the scan (if possible) solve the problem?

[2019-04-04 07:17] abdelqader-mohammad commented on #447
There is a dedicated backend method, where the new box coordinates are sent, and the backend does its magic generating new boxes. That is the reason why the boxes snap to certain positions according to the OCR results (even if they are overlapping).

[2019-04-04 07:21] abdelqader-mohammad commented on #445
If the K10plus is the primary ID and mandatory, it makes sense to me that entries without a K10plus ID are rejected, so it shouldn't be possible to enter another type of ID in the frontend. If it should be possible to enter Ressources without a primary ID then the Backend has to resolve the new resource, in which case the actual error response from the Backend should show if this error could be so

[2019-04-04 09:32] abdelqader-mohammad commented on #448
Done. I deployed the changes into Tuebinger frontend.

[2019-04-04 11:20] LauraErhard commented on #448
Thank you, I will inform our colleagues!

[2019-04-04 11:20] #448 closed

[2019-04-05 07:20] rtahseen commented on #446
This was an issue of OCR engine, which is resolved in new version. I have updated OCR engine to the latest version. I have tested offline and it works fine. It should resolve the issue now.

[2019-04-08 07:00] abdelqader-mohammad commented on #445
It seems like the the the backend ignores the identifier selected in the input form and treats the identifier as the expected type. So creating an electronic resource with an SWB_PPN results in an http 500 exception from the server without any details.

So as a quick fix, we replaced the SWB PPN with K10plus. @LauraErhard can you test the dev if everything works fine? before deploying the changes

[2019-04-08 14:44] LauraErhard commented on #445
Now neither the SWB PPN nor the K10plus ID works. Therefore I can't upload anything.

[2019-04-09 09:44] lgalke commented on #445
Our input types as described by Anne (See also #251):

Translated:

* All identifiers are allowed when the resource exists already
* Journal requires ZBD ID
* journalArticle requires DOI
* bookChapter requires either DOI or SWB PPN
* ProceedingsArticle requires either DOI or SWB PPN
* Book SWB PPN
* All types except for Journal may have a scan attached

In Anne's [backend specification](https://gi

[2019-04-10 13:18] rtahseen commented on #446
@LauraErhard any update on this issue?

[2019-04-10 13:42] LauraErhard commented on #446
Yes, now the same scan delivers this result:
![2019-04-10_ocr_nice](https://user-images.githubusercontent.com/32642653/55883690-0c90e800-5ba7-11e9-9436-790f89f90aaf.png)
Thanks for your quick work!

[2019-04-10 13:42] #446 closed

[2019-04-11 13:25] LauraErhard opened #449 "Questions about ingest"
I'm trying to write workflows for LOCDB and stumbled over a few things while describing how to ingest files.
![2019-04-11_ingest](https://user-images.githubusercontent.com/32642653/55958757-b0db6300-5c69-11e9-924c-f0c80f0058b5.png)
a. Why is the plain text field here? Did we at one point want to ingest plain text with this option and after adding the `add plain text` we forgot to delete the option

[2019-04-16 11:35] LauraErhard commented on #414
I have the 502 error again. I'm trying to upload a pdf into the production:

`Send Scans failed:
Object { identifier: {…}, firstpage: null, lastpage: null, file: File, _resourceType: "MONOGRAPH", uploading: false, textualPdf: false, embodimentType: "PRINT", err: {…} }
Object { headers: {…}, status: 502, statusText: "Proxy Error", url: "https://locdb.bib.uni-mannheim.de/locdb/saveResource", ok: fal

[2019-04-16 11:38] lgalke commented on #414
proxy errors sometimes were connected with issues in the interface to the OCR engine. Did the API change, as you have recently updated the OCR engine @rtahseen ?

[2019-04-16 12:21] LauraErhard commented on #414
I tried a different pdf and curiously enough that works. Maybe it is the pdfs fault?!
The one that didn't work: http://swb.bsz-bw.de/DB=2.1/SET=1/PRS=HOL/SHW?FRST=1&COOKIE=Us998,Pbszgast,I2017,B20728+,SY,NRecherche-DB,D2.1,E4507cacd-8a2,A,H,R193.197.31.8,FY&ACT=SRCHA

[2019-04-17 06:57] rtahseen commented on #414
@lgalke Updating OCR engine can not cause this error. Earlier, such errors were caused by synchronous calling mechanism. But such errors are long gone for Automatic Reference Extractor ever since it moved to total Asynchronous calling mechanism.

By looking at the error message it looks like that it is coming from this url https://locdb.bib.uni-mannheim.de/locdb/saveResource

[2019-04-21 09:55] lgalke commented on #449
The text field should only appear for items added with the 'Add plain text' button.
I pushed a fix: 33705c57312eb2bc69d065f5305347c5a5c3b41a

[2019-04-23 12:21] LauraErhard commented on #414
Error 503 right now:
`Object { headers: {…}, status: 503, statusText: "Service Unavailable", url: "https://locdb.bib.uni-mannheim.de/locdb/getToDo?status=OCR_PROCESSED", ok: false, name: "HttpErrorResponse", message: "Http failure response for https://locdb.bib.uni-mannheim.de/locdb/getToDo?status=OCR_PROCESSED: 503 Service Unavailable", error: "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">

[2019-04-23 12:49] lgalke commented on #414
looks like the back-end is down...

[2019-04-23 12:51] LauraErhard commented on #414
It's up again, @stweil rebooted the system.

[2019-04-23 13:11] abdelqader-mohammad commented on #449
The changes are deployed into dev. @LauraErhard  can you test it before deploying the changes into production and Tuebinger?

[2019-04-23 13:17] LauraErhard commented on #449
Ingesting a book chapter:
`Send Scans failed:
Object { identifier: {…}, firstpage: 43, lastpage: 44, file: File, _resourceType: "BOOK_CHAPTER", uploading: false, textualPdf: false, embodimentType: "PRINT", plainText: null, err: {…} }Object { headers: {…}, status: 502, statusText: "Proxy Error", url: "https://locdb.bib.uni-mannheim.de/locdb-dev/saveResource", ok: false, name: "HttpErrorResponse", m

[2019-04-23 13:19] LauraErhard commented on #449
I had the wrong ID, therefore it didn't work. My mistake. Everything works fine!

[2019-04-24 11:54] LauraErhard commented on #414
Our Tübinger colleages report that their system is down. They have the Error 503 as well. Can you check this out?

[2019-04-24 12:07] LauraErhard opened #450 "SWB suggestion can't be linked"
I tried to migrate this suggestion but I always get the following error:
![2019-04-24 502Error](https://user-images.githubusercontent.com/32642653/56657938-9659ae80-6699-11e9-88ff-0caffa23cb02.png)
Is there a larger problem or is this an isolated issue?

[2019-04-24 12:08] LauraErhard commented on #414
A reboot didn't help because the system always shuts down again.

[2019-04-24 12:53] abdelqader-mohammad commented on #450
I tested several SWB suggestions, and all of them succeeded to migrate.

[2019-04-24 14:53] abdelqader-mohammad commented on #414
Tübingen system is up now

[2019-04-29 07:24] LauraErhard commented on #414
All systems (prod, dev, demo, tue) are down again.

[2019-05-03 08:15] #449 closed

[2019-05-03 08:15] LauraErhard commented on #450
It seemed to be just this one reference, since then I didn't have anymore problems.

[2019-05-03 08:15] #450 closed

[2019-05-03 08:24] LauraErhard opened #451 "OLC integration"
While writing the report we stumbled on the promised integration of OLCs.
According to #104 we have the Sowi-OLC implemented so that we could get metadata of journal articles from there, if we input the OLC_PPN. But we only have the possibility to choose DOI.
@abdelqader-mohammad is this only an issue of the frontend and you can just give us the possibility to choose OLC_PPN while ingesting data (

[2019-05-03 10:50] abdelqader-mohammad commented on #451
I added OLC_PPN beside DOI to the Journal article resource type.
@LauraErhard can you test the dev?

[2019-05-06 12:23] LauraErhard commented on #451
Sadly it didn't work:
`Object { headers: {…}, status: 400, statusText: "Bad Request", url: "https://locdb.bib.uni-mannheim.de/locdb-dev/saveResource", ok: false, name: "HttpErrorResponse", message: "Http failure response for https://locdb.bib.uni-mannheim.de/locdb-dev/saveResource: 400 Bad Request", error: {…} }`

[2019-05-06 13:57] abdelqader-mohammad commented on #451
It seems this error looks like the K10plus identifier error #445
I found that the function _saveResource_ in the corresponding [controller ](https://github.com/locdb/loc-db/blob/master/api/controllers/scan.js) does not have any implementation for OLC identifiers.

    case enums.identifier.olcPpn:
           // go to olc and create article
           return response.status(400).json({"message": "I

[2019-05-06 22:23] lgalke commented on #451
I suspected that also. The identifier restrictions are based on what is implemented in the back-end.

[2019-05-08 06:36] LauraErhard commented on #451
Thank you both for looking into this.
I found out, that our k10plus API seems to include the OLC databases, would it be a huge inconvenience for you to add the ID_k10plus to the journal article ingestion to test if it is implemented in the backend?

[2019-05-08 06:46] abdelqader-mohammad commented on #451
From the frontend side, it is easy to add it.
But the problem is that the current implemetion of the scan [controller](https://github.com/locdb/loc-db/blob/master/api/controllers/scan.js) is accepting only OLC or DOI as below:

    case enums.resourceType.journalArticle:
                    if (identifier.scheme !== enums.identifier.olcPpn && identifier.scheme !== enums.identifier.doi) {

[2019-05-08 06:48] LauraErhard commented on #451
Oh okay, thanks for explaining.

[2019-05-09 07:34] LauraErhard opened #452 "problems with database"
We noticed that we can't find our newly migrated entries via browse/in the internal suggestions while linking references. I wanted to check the backend: https://locdb.bib.uni-mannheim.de/locdb/bibliographicResources to see if our data is even correctly imported, but I always get an error message:
![LOCDBerror](https://user-images.githubusercontent.com/32642653/57435078-c037d700-723c-11e9-8bf1-710f

[2019-05-09 09:50] abdelqader-mohammad commented on #452
Tübingen worked for a while then went down again.
The production is still not working. @stweil is there a capacity problem?

![error](https://user-images.githubusercontent.com/46019130/57444367-490c3e00-7250-11e9-8cba-b527b3ef54b9.png)

[2019-05-09 10:37] LauraErhard commented on #452
I checked with my colleagues there is no capacity problem, but both prod & tue show this error:
[code]

[2019-05-10 05:58] abdelqader-mohammad commented on #452
@LauraErhard I think there is no problem in the database. Maybe due to the large amount of data you want to retrieve from the database caused this error. I am not sure, but perhaps this is the reason for that error.

[2019-05-10 06:37] zuphilip commented on #452
FYI it is possible to access an individual resource, e.g. https://locdb.bib.uni-mannheim.de/locdb/bibliographicResources/5cc2f8676fe387398c588dda

[2019-05-10 06:45] zuphilip commented on #452
@LauraErhard The last error says "JavaScript heap out of memory" and this could be possible as the heap memory in node is limited, see e.g. https://stackoverflow.com/questions/38558989/node-js-heap-out-of-memory .

[2019-05-10 07:48] LauraErhard commented on #452
@zuphilip Can I only access an individual resource if I have the key, or can I search somewhere with title/author?

[2019-05-12 12:43] zuphilip commented on #452
FYI we started all instances with more JS memory now.

[2019-05-21 07:04] LauraErhard commented on #452
The backend is loading fine now, but the issue that we can't find our newly migrated entries via browse/in the internal suggestions while linking references still exists.

[2019-05-21 07:37] stweil commented on #452
CC'ing @JKamlah.

[2019-05-23 12:37] LauraErhard opened #453 "multiplication of authors"
While linking references we noticed recently that suggestions from SWB sometimes (we can't really see a pattern) contain the same author twice or sometimes even thrice. The original entry in SWB only has the author once.

For example:
SWB
![2019-05-23_author_swb](https://user-images.githubusercontent.com/32642653/58253103-efcffe80-7d67-11e9-9326-69cdc3d19bca.png)
LOCDB
![2019-05-23_author](https:/

[2019-05-23 15:42] zuphilip opened #454 "Can't find our newly entered entries"
The backend is loading fine now, but the issue that we can't find our newly migrated entries via browse/in the internal suggestions while linking references still exists.

_Originally posted by @LauraErhard in https://github.com/locdb/locdb-frend/issues/452#issuecomment-494266467_

[2019-05-23 15:43] zuphilip commented on #452
Let us open a new issue #454 for that.

[2019-05-23 15:43] #452 closed

[2019-06-19 08:50] JKamlah opened #455 "Updating dependencies"
Github suggests to update some dependencies to avoid potential security vulnerability.

[2019-07-01 07:02] abdelqader-mohammad commented on #455
We are trying to fix the vulnerabilities, but we got the following error:

    1015 [nephthys locdb-frend* master] > ng serve Schema validation failed with the following errors:
    Data path ".builders['app-shell']" should have required property 'class'.
    Error: Schema validation failed with the following errors:
    Data path ".builders['app-shell']" should have required property 'class'.

[2019-07-01 16:55] zuphilip commented on #455
Maybe https://stackoverflow.com/questions/56393158/errors-data-path-buildersapp-shell-should-have-required-property-class helps.

[2019-07-08 12:46] abdelqader-mohammad commented on #455
Done! vulnerabilities fixed

[2019-07-08 12:46] #455 closed